

.task-data-overview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 85%;

}

.task-overview-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 40px;
}

.task-overview-title {
    font-size: 18px;
    display: flex;
    gap: 8px;
    color: var(--grey-color-v2);


}

.task-overview-day-left {
    color: var(--grey-color-v2);
    font-size: 12px;
    display: flex;
    gap: 8px;
}

.task-overview-mid-section {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-overview-description {
    font-size: 16px;
    overflow-y: auto; 
    scrollbar-width: thin;
    color: var(--grey-color-v2);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-overview-due-date {
    font-size: 16px;
    color: var(--grey-color-v2);
    display: flex;
    gap: 8px;
}

.task-overview-info {
    font-size: 16px;
    color: var(--grey-color-v2);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-overview-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.creation-date {
    color: var(--grey-color-v2);
    font-size: 12px;
}

.project-filter {
    display: flex;
    gap: 16px;
    color: var(--grey-color-v2);
    font-size: 14px;
    align-items: center;
}

.project-select {
    height: 24px;
    border-radius: 2px;
    border: 1px solid var(--grey-color);
    padding: 0 8px;
    background-color: white;
}


.filter-btn {
    display: flex;
    justify-content: end;

}
.filter-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.span {
    font-weight: bold;
}

.red {
    color: red;
}


