:root {
    --background-color: #F3F6FD;
    --primary-color: #FF6767;
    --secondary-color: #F8F8F8;
    --third-color: #A1A3AB;
    --fourth-color: #3ABEFF;

    --white-card-color: #ffffff;

    --grey-color: #888a91;
    --grey-color-v2: #747474;

    --green-color: #05A301;
    --blue-color: #0225FF;
    --red-color: #F21E1E;


    --primary-color-700: #ff6767d0;


    --font-family: Verdana, Geneva, Tahoma, sans-serif;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;

    font-family: var(--font-family);

    overflow-x: hidden;


}
/* 
.nav-section {
} */
 
.menu-body-section {
    width: 100%;
    display: flex;
} 

#menu-section{
    width: 20%;
    
}

#body-section {
    width: 80%;
    padding: 59px 150px;
}


/* global stuff */
.overview-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: space-between;
    
}





.overview-primary{
    background-color: var(--primary-color);
    height: 38px;
    border: none;
    border-radius: 8px;
    padding: 0 20px;
    color: var(--white-card-color);
    font-size: 16px;
    font-weight: bold;
    transition: scale .2s;
}

.overview-primary:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    scale: 1.1;
}