.form-container {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}


.form-div {
    background-color: var(--white-card-color);
    border-radius: 8px;
    height: 600px;
    width: 800px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 400px);
}


.visible {
    visibility: visible;
}

.hide {
    visibility: hidden;
}


